.about-section {
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.8Rb8G5NJapDfrKH7mnQR_wHaFj&pid=Api&P=0&h=220");
  background-repeat: no-repeat;
  background-size: 1500px 800px;
  padding: 0; /* Set padding to zero to remove it */
  position: relative;
}

/* Add a pseudo-element for the lighting effect */
.about-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  opacity: 0;
  animation: lightingEffect 3s linear infinite alternate;
}

/* Rest of your styles... */
  /* Animation for the lighting effect */
  @keyframes lightingEffect {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .about-photo img {
    max-width: 13%;
    height: auto;
    border-radius: 20%;
  }
  
  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .about-text {
    flex: 1;
    padding: 20px;
    color: #fff;
  }
  
  /* Change the color of the h2 heading */
  .about-section h2 {
    color: #333;
  }
  